*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#main_head{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgb(118, 93, 123);
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #9199a1;
}
/* Apply styles to the form container */
.form {
    max-width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally on the page */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  
  /* Style labels for form fields */
  .form label {
   
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    color: #007bff;
}

  /* Style input fields */
.form input[type="text"],
.form input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

  /* Style the submit button */
.enable {
    background-color: #20891d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.disable{
    background-color: #9199a1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s; */
}
.form button[type="submit"]:hover {
    background-color: #7091ad;
}

@media (max-width: 600px){
    .form {
      /* max-width: 90%;Adjust as needed for smaller screens */
    font-size: 20px; 
    }
}

  /* Adjust font size for smaller screens */
@media (max-width: 400px){
    .form label,
    .form input[type="text"],
    .form input[type="email"],
    .form button[type="submit"] {
    font-size: 24px;
    }
}